<%# before %>
<h1 class="title">My events</h1>
<%= link_to  "Create event", events_new_path, class:"btn btn-primary btn-lg" %>

<% current_user.events.each do |event| %>
   <%= render 'events/list', event: event %>
<% end %>
