<h1 class="title">Events#index</h1>
<p class="subtitle">Find me in app/views/events/index.html.erb</p>


<ul>
    <% @events.each do |event| %>
    <li><%= event.location %> in <%= event.location %> on <%= event.date.strftime("%B %d, %Y") %>  </li>
    <% end %>
</ul>