<h1 class="title">Events</h1>

<br/>
<ul>
    <% @events.each do |event| %>
    <li><strong><%= event.location %> </strong><%= "on "+ event.date.strftime("%B %d, %Y") if !event.date.nil? %>  </li>
    <% end %>
</ul>